.dialog-pane{
    -fx-border-color:black;
    -fx-border-width:2.0px;
}

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
    -fx-background-color:black;
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: yellow;
    -fx-text-fill:black;
    -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
    -fx-background-color: black;
}

.dialog-pane:header .header-panel .label{
    -fx-background-color: yellow;
    -fx-background-radius:10px;
    -fx-text-fill:black;
    -fx-font-size:15.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-background-color:black;
    -fx-text-fill:white;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
}

.dialog-pane .button:hover{
    -fx-background-color:white;
    -fx-text-fill:black;
    -fx-font-weight:bold;
}