#commodity {
}
#commodityInfo {
    -fx-background-color: #4c4c4c;
    -fx-alignment: CENTER;
    -fx-min-width: 350;
}
#commodityName {
    -fx-padding: 5 5 0 5;
}
#profit {
    -fx-padding: 0 5 0 5;
    -fx-font-weight: bold;
}
#distance {
    -fx-padding: 0 5 0 5;
}