#datastorage {
    -fx-padding: 10;
}
.label {
    -fx-padding: 0 5 0 0;
}
.button {
    -fx-background-color: #cccccc;
    -fx-text-fill: #404040;
    -fx-padding: 5 10 5 10;
}
.button:hover {
    -fx-background-color: #404040;
    -fx-text-fill: #cccccc;
}