#datastorage {
    -fx-padding: 10;
}
#lblDataAge {
    -fx-min-width: 200;
}
.label {
    -fx-padding: 0 5 0 0;
}
.button {
    -fx-text-alignment: CENTER;
    -fx-content-display: CENTER;
    -fx-alignment: CENTER;
}