#details {
    -fx-background-color: #545454;
    -fx-padding: 10;
}
#topic {
    -fx-font-weight: bold;
}
#vbLoading {
    -fx-alignment: TOP_LEFT;
    -fx-min-width: 200;
    -fx-max-width: 200;
}
#vbCarrierStats {
    -fx-alignment: TOP_CENTER;
    -fx-max-width: Infinity;
}
#vbUnloading {
    -fx-alignment: TOP_RIGHT;
    -fx-min-width: 200;
    -fx-max-width: 200;
}