#filters {
    -fx-padding: 10;
    -fx-background-color: rgba(0, 255, 0, 0.1);
}
#labeltxt {
    -fx-alignment: CENTER-LEFT;
}
.label {
    -fx-padding: 0 5 0 0;
}
#leftFilters {
}
#rightFilters {
    -fx-padding: 0 0 0 10;
}