.root {
    -fx-font-size: 16;
    -fx-background-color: #565656;
    -fx-focus-color: transparent;
}
.label {
    -fx-text-fill: #eeeeee;
    -fx-padding: 0 5 0 5;
}
.check-box {
    -fx-text-fill: #eeeeee;
    -fx-focus-traversable: false;
    -fx-cursor: hand;
}
.button {
    -fx-background-color: #eeeeee;
    -fx-text-fill: #1c1c1c;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: #eeeeee;
    -fx-font-weight: bold;
}
.text-field {
    -fx-padding: 0 5 0 5;
    -fx-focus-traversable: false;
}
.tooltip {
    -fx-background-color: #aeaeae;
    -fx-text-fill: #3e3e3e;
    -fx-padding: 0 5 0 5;
    -fx-show-delay: 10ms;
    -fx-show-duration: 10s;
    -fx-font-weight: normal;
}
.text-field {
    -fx-max-width: 100;
}