.root {
    -fx-font-size: 16;
    -fx-background-color: #565656;
}
.label {
    -fx-text-fill: #eeeeee;
    -fx-padding: 0 5 0 5;
}
.check-box {
    -fx-text-fill: #eeeeee;
}
.button {
    -fx-background-color: #eeeeee;
    -fx-text-fill: #1c1c1c;
    -fx-font-weight: bold;
}
.button:hover {
    -fx-background-color: #1c1c1c;
    -fx-text-fill: #eeeeee;
    -fx-font-weight: bold;
}
.tooltip {
    -fx-background-color: #aeaeae;
    -fx-text-fill: #3e3e3e;
    -fx-padding: 0 5 0 5;
    -fx-show-delay: 10ms;
    -fx-show-duration: 10s;
}