.root {
    -fx-font-size: 15;
    -fx-background-color: #949494;
}
.button {
    -fx-background-color: #c1c1c1;
    -fx-text-fill: #454545;
}
.button:hover {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #b7b7b7;
}