#results {
    -fx-border-color: #000;
    -fx-border-width: 4;
    -fx-alignment: CENTER;
}
#spacer {
    -fx-min-height: 10;
}
#stations {
    -fx-padding: 10;
    -fx-font-size: 18;
}
.button {
    -fx-font-size: 16;
}