#station {
    -fx-background-color: #3e3e3e;
    -fx-padding: 10;
}
#topic {
    -fx-font-weight: bold;
}
#btnRemove {
    -fx-padding: 0 6 0 6;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-max-height: 25;
    -fx-max-width: 25;
    -fx-text-fill: #ff0000;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}
#btnRemove:hover {
    -fx-text-fill: #aa0000;
    -fx-background-color: rgba(0, 0, 0, 0.2);
}