#station {
    -fx-background-color: #3e3e3e;
    -fx-padding: 10;
    -fx-min-width: 380;
}
#topic {
    -fx-font-weight: bold;
}
#btnReloadStation {
    -fx-padding: 0;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-max-height: 25;
    -fx-max-width: 25;
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
}
#btnReloadStation:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
#btnBlacklist {
    -fx-padding: 0;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-max-height: 25;
    -fx-max-width: 25;
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
}
#btnBlacklist:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
#btnRemove {
    -fx-padding: 0 6 0 6;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-max-height: 25;
    -fx-max-width: 25;
    -fx-text-fill: #ff0000;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}
#btnRemove:hover {
    -fx-text-fill: #aa0000;
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
#lblSystem:hover {
    -fx-opacity: 0.5;
    -fx-cursor: hand;
}
#btnReddit {
    -fx-text-fill: #ffffff;
    -fx-background-color: #ff4500;
    -fx-padding: 0 5 0 5;
}
#btnReddit:hover {
    -fx-text-fill: #000000;
    -fx-background-color: #ff5700;
}
#btnDiscord {
    -fx-text-fill: #ffffff;
    -fx-background-color: #202225;
    -fx-padding: 0 5 0 5;
}
#btnDiscord:hover {
    -fx-background-color: #36393f;
}